body {
  background: linear-gradient(
    to bottom,
    rgb(43, 50, 178) 0%,
    rgb(20, 136, 204) 100%
  );
}

.app {
  max-width: 800px;
  display: block;
}

.container {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: "Merriweather", serif;
  color: white;
  background-color: rgb(43, 50, 178) 30%;
}

form {
  padding: 0px;
  display: inline;
  max-width: 100%;
}

.form-control {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.row.g-12 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.col-6 {
  width: 65%;
}

.col-3 {
  max-width: fit-content;
}

.searchButton {
  padding: 7px 20px;
  border: 1px;
  border-color: transparent;
  border-radius: 5px;
  background-color: white;
  color: rgba(0, 0, 0, 0.486);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.currentButton {
  padding: 7px 20px;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.date-and-location_location {
  font-size: 33px;
}

.date-and-location {
  width: 100%;
  padding: 5px 15px;
}

.date-and-location_date {
  padding: 0px 5px;
}

.icon {
  color: white;
  flex-grow: 0.5;
}

.current-icon {
  display: block;
  width: 10px;
  margin-top: 30px;
}

.current-temperature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  font-size: 30px;
  width: 100%;
  border-right: 1px solid white;
  flex-grow: 1;
  text-align: center;
}

.current-temperature__value {
  display: inline;
  font-size: 65px;
  font-weight: 300;
  flex: 1;
}

.unit {
  font-size: 30px;
}

.current-temperature__summary {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
}

.current-stats {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  width: 100%;
  margin-top: 10px;
}

.current-stats__value {
  font-size: 25px;
  padding: 5px;
}

.current-stats__highest-temp {
  font-size: 25px;
  padding: 5px;
}

.current-stats__lowest-temp {
  font-size: 25px;
  padding: 5px;
}

.current-stats__wind {
  font-size: 25px;
  padding: 5px;
}

.current-stats__humidity {
  font-size: 25px;
  padding: 5px;
}

.current-stats__sunrise {
  font-size: 25px;
  padding: 5px;
}

.current-stats__sunset {
  font-size: 25px;
  padding: 5px;
}

.current-stats__label {
  color: #8bc6ec;
  align-items: center;
}

.weather-forecast {
  margin: 45px 0;
}

.row {
  margin-bottom: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.col-2 {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  text-align: center;
  margin: 5px 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.day {
  padding: 10px;
}

.temp {
  padding: 10px;
}

.sign {
  font-size: 10px;
  display: block;
  margin-bottom: 20px;
}

a {
  color: white;
}

a:hover {
  background-color: white;
}
